.Nav-Wrap {
    background-color: lightgreen;
}

.navbar-links {
    margin: 0%;
    padding: 4%;
    padding-bottom: 2%;
}

.navbar-links-item {
    margin: 0;
    display: inline-block;
    padding-inline-end: 3%;
}